#app {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}

:root {
  --bg-color: #ebf4e2;
  --headings: 'Varent', sans-serif;
  --text-color: #262f22;
  --sec-color: #8ea879;
  --orange: #eaa930;
  --link_color: #90f695;
  --accent-color: #caecaf;
}

@font-face {
  font-family: 'Varent';
  src: url('./fonts/Varent.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 2rem 1.5rem;

  @media (min-width: 770px) {
    padding: 2rem 3rem;
  }
}

h1,
h2,
h3 {
  font-family: var(--headings);
  text-transform: capitalize;
}

h1 {
  margin-bottom: 2rem;
  font-size: 36px;
}

h2 {
  font-size: 30px;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

p {
  font-size: 18px;
}

a {
  color: inherit;
}

nav {
  font-family: var(--headings);
  font-weight: bold;
}

main {
  flex-grow: 1;

}

.intro {
  & p {
    max-width: 30rem;
    font-size: 22px;
  }
}

section {
  margin-bottom: 3.2rem;
}