#app {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}

:root {
  --bg-color: #c9d8bd;
  --headings: ;
  --text-color: #262f22;
  --sec-color: #8ea879;
  --accent-color: #caecaf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: ;
}

main {
  flex-grow: 1;
  padding: 2rem 3rem;
}

footer {
  height: 10vh;
  padding: 2rem 3rem;
}