#app {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}

:root {
  --bg-color: #ebf4e2;
  --headings: 'MATAO', sans-serif;
  --text-color: #262f22;
  --sec-color: #8ea879;
  --orange: #eaa930;
  --accent-color: #caecaf;
}

@font-face {
  font-family: 'MATAO';
  src: url('') format('');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3 {
  font-family: var(--headings);
  text-transform: capitalize;
}

h1 {
  margin-bottom: 2rem;
}

nav {
  font-family: var(--headings);
  font-weight: bold;
}

main {
  flex-grow: 1;
  padding: 2rem 3rem;
}

section {
  margin-bottom: 3.2rem;
}

footer {
  height: 10vh;
  padding: 2rem 3rem;
}